.mainBody{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background: #1D3557;
}
.sidebar{
    height: 100%;
    width:50px;
    background-color: #F5F5F5;
}
.userImage{
    width: 50px;
    height: 50px;
}

.userNamesArea{
    display:flex;
    flex-direction: column;
    height: 100%;
    width:330px;
}

.searchBox1{
    width: 89%;
    height: 30px;
    margin-right:1px;
    margin-left: 19px;
    margin-top:17px;
    margin-bottom: 17px;
    
    background: #F5F5F5;
    border-radius: 14px;
    border-style: none;
}
.searchBox1::placeholder{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 11px;

    color: #1D3557;
}

.userNames{
    width: 89%;
    flex:1;
    border-radius: 14px;
    margin-left: 20px;
    margin-bottom: 17px;
    background: #F5F5F5;
}

.chatArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex:1;
}

.chatterInfo{
    height: 68px;
    width: 100%;
}


.sidebarButton{
    background-color: transparent;
    border-style: none;
    height:50px;
    width:50px;
    border-radius:20px;
    margin-top: 5px;
}

.sidebarImage{
    height:30px;
}

.userButton{
    margin-top: 55px;
}

.logoutButton{
    margin-top: 220px;
}

.userinfoImage{
    margin-top: 5px;
    height: 35px;
    margin-left:8px;
}

.callButton{
    margin-top: 10px;
    background-color: transparent;
    border-style: none;
}

.videocallButton{
    margin-top: 10px;
    background-color: transparent;
    margin-left: 600px;
    border-style: none;
}

.chats{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-bottom: 17px;
    margin-right: 14px;
    border-radius: 14px;
    width: 98%;
    background: #F5F5F5;
}

.messages{
    flex:1;
}

.sendArea{
    display:flex;
    flex-direction: row;
    height: 55px;
    justify-content: center;
}

.messageInput{
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
    border-style: none;
    height:28px;
    width:540px;
    background: #A8DADC;
}
.messageInput::placeholder{

    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #1D3557;
    padding-left:15px;
}

.sendButton{
    height:30px;
    width:80px;
    border-style: none;
    background: #1D3557;
    color: #F5F5F5;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
}
.addUserPopupCss{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 11px;
    box-shadow: 0px 0px 4px 1.3px rgba(0, 0, 0, 0.4);
    height:100px;
    align-items: center;
}
.createGroupButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 11px;
    flex:1;
    width:95%;
    border-style: none;
    background-color: #D9D9D9;
}
.addUserButton{
    flex:1;
    border-radius: 11px;
    width:95%;
    border-style: none;
    margin-bottom: 10px;
    background-color: #D9D9D9;
}

.addUserSearchArea{
    display: flex;
    flex-direction: row;
}
.backButton{
    width:30px;
    height:30px;
    margin-top: 17px;
    margin-left: 19px;
    background-color: transparent;
    border-style: none;
}
.backButtonImage{
    width:30px;
    height:30px;
}

.searchBox2{
    width: 73%;
    height: 30px;
    margin-right:1px;
    margin-left: 19px;
    margin-top:17px;
    margin-bottom: 17px;
    
    background: #F5F5F5;
    border-radius: 14px;
    border-style: none;
}
.searchBox2::placeholder{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 11px;

    color: #1D3557;
}

.makeGroupBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    border-radius: 11px;
}
.enterGroupName{
    margin-top: 13px;
    margin-bottom: 10px;
    border-radius: 11px;
    height:30px;
    width:90%;
    border-style: none;
    background-color: #D9D9D9;
}
.enterGroupName::placeholder{
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 14px;

    color: #1D3557;
}
.usersToAdd{
    flex:1;
}
.mainCreateGroupButton{
    margin-top: 13px;
    margin-bottom: 15px;
    border-radius: 11px;
    height:30px;
    width:90%;
    border-style: none;
    background-color: #D9D9D9;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 14px;
    
    color: #1D3557;
}

.userIcon{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:45px;
    width:45px;
}
.userNameImageCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 27px;
    background-color: rgb(78, 78, 78);
}
.whiteCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 95%;
    border-radius: 25px;
    background-color: #eaeaea;
}
.userIconLetter{
    height: 65%;
    width: 65%;
}
.userInfo{
    display: flex;
    flex-direction: row;
}
.messages{
    margin-bottom:20px;
}