.full_screen_box_2{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 100vh;
    width: 100vw;
    background: #1D3557;
}

.login_area_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 450px;
    background: #F5F5F5;
}

.username_2{
    margin-top: 158px;
    width: 300px;
    height: 90px;
}

.password_2{
    width: 300px;
    height: 90px;
}

.username_writting_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin:0px;
    margin-left: 15px;
    color: #1D3557;
}

.username_input_2{
    width:290px;
    height:35px;
    margin-top: 7px;
    background: #EBEBEB;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.13);
    border-radius: 11px;
    border-style: none;
}
.password_writting_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin:0px;
    margin-left: 15px;
    color: #1D3557;
}
.password_input_2{
    width:290px;
    height:35px;
    margin-top: 7px;
    background: #EBEBEB;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.13);
    border-radius: 11px;
    border-style: none;
}

.button_area_2{
    display: flex;
    width: 300px;
    height: 90px;
    justify-content: center;
}
.sign_up_button_2{
    background-color: #d7d6d6;
    border-style: none;
    width:200px;
    height:35px;
    border-radius: 11px;
    margin-top: 16px;
}